body, html {
    padding: 0;
    margin: 0;
    background-color: #5A5C69;
    font-family: 微軟正黑體;
}
.container {
    max-width: 792px;
    padding-top: 11%;
}
.login {
    height: 461px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #00000014;
    border-radius: 10px;
}
.login h1 {
    font-size: 20px;
    font-weight: 700;
    color: #B82B22;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 48px;
}
.bg-login-image {
    background: url("../img/loginImg.png");
    background-position: center;
    background-size: cover;
}
.bg-login-form {
    padding: 40px;
}
form.user .form-control-user {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid #E4E6F0;
    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 28px;
}
form.user .form-control-user::placeholder {
    color: #B7B9CC;
    font-size: 16px;
}
form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    color: #fff;
    background-color: #FF671F;
    border-color: #FF671F;
    margin-top: 48px;
    background-image: linear-gradient(to right, #E7373C 0%, #E7373C 0%,#E95504 50%,#F9BE00 100%);
    transition: all 0.3s ease-in-out;
}
form.user .btn-user:hover {
    opacity: 0.8;
}

.formInp .input-iconEye {
    position: absolute;
    color: #B7B9CC;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

