body, html {
    padding: 0;
    margin: 0;
}
.main {
    margin: 0 auto;
    width: 992px;
    background-color: #efefef;
}
img {
    width: 100%;
    display: block;
}
.banner {
    width: 992px;
    height: 287px;
}
.banner img {
    width: 100%;
    height: auto;
    height: 287px;
}
.footer {
    margin-top: -50px;
}



.banner2 {
    position: absolute;
    width: 320px;
    height: 180px;
    background-color: #666;
    bottom: 55px;
    left: 95px;
}
.banner2 img {
    height: 180px;
}
.footer2 {
    position: relative;
}