@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body, html {
    font-family: "Noto Sans TC";
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #E4E6F0;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::placeholder {
    color: #5A5C69;
    font-size: 16px;
    font-weight: 400;
}
.form-control.form-selectdate {
    width: 70px;
    float: left;
}
.form-datepicker span.symbol {
    line-height: 35px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.form-datepicker span.symbol.butterfly {
    margin-left: 20px;
    margin-right: 0;
    color: #5A5C69;
}
.form-control::placeholder {
    color: #5A5C69;
    font-size: 16px;
    font-weight: 400;
}
.btn-link {
    color: #5A5C69;
}
.btn-link:hover {
    color: #5A5C69;
}
.sidebar {
    background-color: #5A5C69;
}
.logo {
    max-width: 200px;
    width: 100%;
}
label {
    color: #5A5C69;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
}
.container-fluid h1 {
    color: #5A5C69;
    font-size: 32px;
    font-weight: 500;
}
.card .navbar {
    padding: 0;
}
.card-header {
    min-height: 60px;
}
.card-header h6 {
    color: #B82B22;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
.card-header h6 .returned {
    color: #E95504;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}
.card-header h6 .processing {
    color: #5A5C69;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}
.card-header h6 .passed {
    color: #1DC88A;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
}
/* hr style */
hr.hr-returned {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #B7B9CC;
    text-align: center;
    border: 0;
    border-bottom: 1px dashed #F7F7F7;
    background: #999;
}
hr.hr-returned:after {
    content: "退回";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 16px;
    padding: 0 5%;
    background: white;
}
hr.hr-passed {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #1DC88A;
    text-align: center;
    border: 0;
    border-bottom: 1px dashed #F7F7F7;
    background: #999;
}
hr.hr-passed:after {
    content: "通過";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 16px;
    padding: 0 5%;
    background: white;
}
hr.hr-pending {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #B7B9CC;
    text-align: center;
    border: 0;
    border-bottom: 1px dashed #F7F7F7;
    background: #999;
}
hr.hr-pending:after {
    content: "待簽核";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 16px;
    padding: 0 5%;
    background: white;
}

.card-form {
    padding: 20px;
}
.card-form .card-text {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.card-form .card-add {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    max-height: 650px;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to top, transparent, black),linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.card-form .card-add:hover {
    -webkit-mask-position: left top;
}
.card-form .card-radio {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.card-form .card-select {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.card-form .card-select select {
    border: 1px solid #E4E6F0;
    border-radius: 5px;
}
.card-unit {
    font-size: 18px;
    background-color: #F8F9FC;
    text-align: center;
    margin: 0 20px;
    margin-bottom: 40px;
    padding: 20px 0;
}
.card-unit.card-unit-table {
    text-align: left;
    padding: 20px;
    margin: 0px 10px 10px 10px;
}
.card-unit.card-unit-table input {
    margin: 0;
}
.card-unit .btn-next {
    color: #fff;
    background-color: #FF671F;
    border-color: #FF671F;
    background-image: linear-gradient(to right, #E7373C 0%, #E7373C 0%,#E95504 50%,#F9BE00 100%);
    margin-top: 10px;
}
.card-unit .btn-next:hover {
    color: #FFFFFF;
    background-color: #B82B22;
    border-color: #B82B22;
    background-image: inherit;
}
.card-unit h4 {
    color: #B82B22;
    font-size: 16px;
    padding-bottom: 20px;
}
.card-unit span {
    color: #5A5C69;
    font-size: 16px;
}
.card-unit input {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    height: 40px;
    padding-left: 18px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    width: 100%;
}
.card-unit .form-check-inline {
    padding-left: 20px;
    margin-right: 30px;
}
.card-unit .form-check-inline label {
    padding-left: 10px;
}
.card-form .card-inputNum {
    padding: 0 10px;
}
.card-form .card-inputNum input {
    text-align: center;
    width: 72px;
    border: 1px solid #E4E6F0;
    border-radius: 5px;
    color: #5A5C69;
}
.card-form .card-radio ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card-form .card-radio ul {
    padding: 0;
    margin: 0;
}
.card-form .card-text ul li {
    list-style-type: none;
}
.card-form .card-add ul li {
    list-style-type: none;
}
.card-form h5 {
    color: #5A5C69;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}
.card-form label {
    color: #5A5C69;
    font-size: 18px;
    margin-bottom: 12px;
    margin-left: 12px;
    line-height: 30px;
    display: initial;
}
input.form-check-input {
    width: 20px; 
    height: 20px;
}
.card-body .card-hr {
    border-left: 1px solid #E4E6F0;
}
.card-table {
    padding: 0 10px;
}
.card-table p {
    color: #5A5C69;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
.card-table p span {
    color: #5A5C69;
    font-weight: 400;
    font-size: 16px;
}
.card-table p span.text-none {
    color: #B7B9CC;
    font-weight: 400;
    font-size: 18px;
}
.card-table .table-checkbox {
    text-align: center;
    min-width: 40px;
}
.card-table .table-title {
    text-align: left;
    padding-left: 32px;
    min-width: 150px;
}
.card-table .table-summary-cen {
    max-width: 400px;
}
.card-table .table-summary {
    text-align: left;
    padding-left: 32px;
    max-width: 400px;
}
.card-table .table-summary span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-table .status-returned {
    color: #E95504;
}
.card-table .status-processing {
    color: #5A5C69;
}
.card-table .status-passed {
    color: #1DC88A;
}
.card-table .table-edit {
    color: #4e73df;
}


.card-table .teble {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}
.card-table td {
    color: #5A5C69;
    font-size: 16px;
    padding: 26px 5px;
    vertical-align: middle;
}
.card-table .table-db td {
    border: 0;
    font-weight: 500;
    color: #5A5C69;
    min-width: 160px;
}
.card-table ul {
    padding: 0;
    list-style: none;
}
.card-table ul a {
    text-decoration: underline;
    color: #4E73DF;
}
.card-table ul li {
    padding-bottom: 20px;
}
.card-table .announcement-text {
    color: #5A5C69;
}

/* navbar-pagination */
.navbar-pagination span {
    font-size: 14px;
}
.navbar-pagination .pagination {
    margin: 0;
}
.navbar-pagination .pagination li {
    padding-bottom: 0;
    font-size: 14px;
}
.navbar-pagination .pagination li a {
    text-decoration: none;
    color: #B82B22;
}

/* Modal */
.confirm-body {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 0;
}
.confirm-body .modal-header {
    background-color: #F8F9FC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.confirm-body .modal-header .close {
    color: #D2D2D2;
    opacity: 1;
}
.confirm-body .modal-header h5 {
    color: #B82B22;
    font-size: 16px;
    text-align: center;
}


.confirm-body .modal-body i {
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.confirm-body .modal-body i.icon-check {
    color: #1DC88A;
}
.confirm-body .modal-body i.icon-error {
    color: #B7B9CC;
}
.confirm-body button.btn-check {
    color: #5A5C69;
    background-color: #ffffff;
    border-color: #5A5C69;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px 30px;
}
.confirm-body button.btn-check2 {
    color: #B82B22;
    background-color: #ffffff;
    border-color: #B82B22;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px 30px;
}

/* formWizard nav33 */
.formWizard {
    color: #B7B9CC;
    text-align: center;
    font-weight: 500;
    max-width: 800px;
    margin: 0 auto;
}
.formWizard .nav {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
.formWizard .nav li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
.formWizard .nav li:before {
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.formWizard .nav li:after {
	content: '';
	width: 70%;
	height: 2px;
	background: #B7B9CC;
	position: absolute;
	left: -35%;
	top: 9px;
	z-index: 0;
}
.formWizard .nav li:first-child:after {
	content: none;
}
.formWizard .nav li.active:before,
.formWizard .nav li.active:after {
	background: #B82B22;
	color: white;
}
.formWizard .nav i {
    font-size: 20px;
}
.formWizard .nav p {
    margin-top: 5px;
}
.formWizard .nav .active i {
    color: #B82B22;
}
.formWizard .nav .active p {
    color: #5A5C69;
    margin-top: 5px;
}

/* formWizard nav50 */
.formWizard .nav5 {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
.formWizard .nav5 li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 50%;
	float: left;
	position: relative;
}
.formWizard .nav5 li:before {
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.formWizard .nav5 li:after {
	content: '';
	width: 70%;
	height: 2px;
	background: #B7B9CC;
	position: absolute;
	left: -35%;
	top: 9px;
	z-index: 0;
}
.formWizard .nav5 li:first-child:after {
	content: none;
}
.formWizard .nav5 li.active:before,
.formWizard .nav5 li.active:after {
	background: #B82B22;
	color: white;
}
.formWizard .nav5 i {
    font-size: 20px;
}
.formWizard .nav5 p {
    margin-top: 5px;
}
.formWizard .nav5 .active i {
    color: #B82B22;
}
.formWizard .nav5 .active p {
    color: #5A5C69;
    margin-top: 5px;
}

/* formWizard nav25 */
.formWizard .nav25 {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
.formWizard .nav25 li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
.formWizard .nav25 li:before {
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.formWizard .nav25 li:after {
	content: '';
	width: 45%;
	height: 2px;
	background: #B7B9CC;
	position: absolute;
	left: -25%;
	top: 9px;
	z-index: 0;
}
.formWizard .nav25 li:first-child:after {
	content: none;
}
.formWizard .nav25 li.active:before,
.formWizard .nav25 li.active:after {
	background: #B82B22;
	color: white;
}
.formWizard .nav25 i {
    font-size: 20px;
}
.formWizard .nav25 p {
    margin-top: 5px;
}
.formWizard .nav25 .active i {
    color: #B82B22;
}
.formWizard .nav25 .active p {
    color: #5A5C69;
    margin-top: 5px;
}

/* formWizard nav20 */
.formWizard .nav20 {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
.formWizard .nav20 li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}
.formWizard .nav20 li:before {
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
.formWizard .nav20 li:after {
	content: '';
	width: 45%;
	height: 2px;
	background: #B7B9CC;
	position: absolute;
	left: -20%;
	top: 9px;
	z-index: 0;
}
.formWizard .nav20 li:first-child:after {
	content: none;
}
.formWizard .nav20 li.active:before,
.formWizard .nav20 li.active:after {
	background: #B82B22;
	color: white;
}
.formWizard .nav20 i {
    font-size: 20px;
}
.formWizard .nav20 p {
    margin-top: 5px;
}
.formWizard .nav20 .active i {
    color: #B82B22;
}
.formWizard .nav20 .active p {
    color: #5A5C69;
    margin-top: 5px;
}

/* btn */
.btnNext {
    text-align: right;
}
.btnNext .btn {
    font-weight: 500;
    width: 180px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 15px;
}
.btnNext .btn-next {
    color: #fff;
    background-color: #FF671F;
    border-color: #FF671F;
    background-image: linear-gradient(to right, #E7373C 0%, #E7373C 0%,#E95504 50%,#F9BE00 100%);
}
.btnNext .btn-next:hover {
    color: #FFFFFF;
    background-color: #B82B22;
    border-color: #B82B22;
    background-image: inherit;
}
.btnNext .btn-return {
    color: #B82B22;
    background-color: #F8F9FC;
    border-color: #B82B22;
}
.btnNext .btn-return:hover {
    color: #FFFFFF;
    background-color: #8C1E28;
    border-color: #8C1E28;
}
.btnNext .btn-previous {
    color: #B7B9CC;
    background-color: #F8F9FC;
    border-color: #B7B9CC;
}
.btnNext .btn-previous:hover {
    background-color: #E4E6F0;
}

/* .btn-download */
.btn-download {
    color: #fff;
    background-color: #B82B22;
    border-color: #B82B22;
}
.btn-download:hover {
    color: #fff;
    opacity: 0.9;
}
.btn-download .icon {
    font-size: 14px;
    color: #FFCDB5;
    background-color: #C64000;
}
/* .btn-upload */
.btn-upload {
    color: #fff;
    background-color: #4E72DF;
    border-color: #4E72DF;
}
.btn-upload:hover {
    color: #fff;
    opacity: 0.9;
}
.btn-upload .icon {
    color: #A1B1E0;
    background-color: #4262BE;
}
/* .btn-approved */
.btn-approved {
    color: #fff;
    background-color: #1DC88A;
    border-color: #1DC88A;
    margin-bottom: 8px;
}
.btn-approved:hover {
    color: #fff;
    opacity: 0.9;
}
.btn-approved .icon {
    font-size: 14px;
    color: #9CD6BB;
    background-color: #19AB76;
}
/* .btn-return */
.btn-return {
    color: #fff;
    background-color: #B7B9CC;
    border-color: #B7B9CC;
    margin-bottom: 8px;
}
.btn-return:hover {
    color: #fff;
    opacity: 0.9;
}
.btn-return .icon {
    font-size: 14px;
    color: #E4E6F0;
    background-color: #5A5C69;
}


/* fileUpload */
.fileUploadGroup {
    padding-bottom: 20px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload:disabled {
    color: #5A5C69;
    background-color: inherit;
    border: 0;
    font-size: 16px;
    width: 80%;
}

/* checkbox */
input[type=checkbox] {
    position: relative;
    width: 20px;
    height: 20px;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type=checkbox]::before {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 5px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
input[type=checkbox]:checked {
    color: #fff;
    border-color: #FF671F;
    background: #FF671F;
}
input[type=checkbox]:checked::before {
    opacity: 1;
}

/* radio */
input[type=radio] {
    position: relative;
    width: 20px;
    height: 20px;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 50%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type=radio]::before {
    position: absolute;
    content: "";
    display: block;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    opacity: 0;
    border-radius: 100%;
    background-color: #fff;
}
input[type=radio]:checked {
    position: relative;
    color: #fff;
    border-color: #FF671F;
    background: #FF671F;
}
input[type=radio]:checked::before {
    opacity: 1;
}

/* media */
@media (max-width: 992px) {
    .card-body .card-hr {
        border-top: 1px solid #E4E6F0;
    }
    .card-table {
        padding: 0;
    }
    .card-table td {
        min-width: 150px;
    }
    .card-table .table-title {
        min-width: 210px;
        padding-left: 10px;
    }
}
input.datepicker {
    border-right: 0;
}
span.input-group-text {
    color: #E4E6F0;
}
.input-group-text {
    background-color: #ffffff;
}
.form-datepicker .outsideInp{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 10px;
}
.form-datepicker .datepicker {
    width: 200px;
}
.form-datepicker span {
    background: inherit;
    color: #E4E6F0;
}

.dataTables_filter, .dataTables_length {
    display: none;
}
table.dataTable.display tbody tr.odd>.sorting_1 {
    background-color: transparent;
}
table.dataTable.display tbody tr.even>.sorting_1 {
    background-color: transparent;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: transparent;
}
table.dataTable thead th, table.dataTable thead td {
    border: 1px solid #e3e6f0;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #e3e6f0;
}
.dataTables_wrapper .dataTables_info {
    font-size: 14px;
    color: #5A5C69;
    margin-top: 20px;
}
.dataTables_paginate {
    margin-top: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 14px;
    border: 1px solid #dddfeb;
    margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    border: 1px solid #dddfeb;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border: 1px solid #dddfeb;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    border-color: #B82B22;
    background: #B82B22;
    padding: 0.5rem 0.75rem;
    line-height: 1.4;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border-color: #B82B22;
    background: #B82B22;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #B82B22 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #B82B22 !important;
    background: #efefef;
    border: 1px solid #dddfeb;
}

.modal-body p {
    margin-top: 30px;
}
.modal.fade.show {
    padding-right: 0 !important;
}
.modal-body button.btn {
    margin-bottom: 30px;
}

/* chosen-select */
.chosen-select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

.chosen-select:invalid[multiple] {
    margin-top: 15px !important;
}

.invalidColor {
    color: #B82B22;
}


.form-time {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5A5C69;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    margin: 0 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sidebar-brand-error { 
    height: 80px;
    padding: 1.5rem 0;
    margin-left: -20px;
}

body {
    height: 100vh;
    background-color: #f8f9fc;
}
.error-img {
    padding-top: 70px;
    padding-bottom: 35px;
    text-align: center;
}
.error-text {
    color: #5A5C69;
    text-align: center;
    font-size: 24px;
}