<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>上海銀行</title>


<!--assets  css-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/datepicker.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-ui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/chosen.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/sb-admin-2.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

<style>
/* hr style */
hr.hr-open {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #B7B9CC;
    text-align: center;
    border: 0;
    border-bottom: 1px dashed #F7F7F7;
    background: #999;
}
hr.hr-open:after {
    content: "申請";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 16px;
    padding: 0 5%;
    background: white;
}
</style>



</head>

</html>