<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <ul th:fragment="sidebar"  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
           
            <a class="sidebar-brand" th:href="@{/recordSheet/list}">
                <!-- <div class="sidebar-brand-icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="sidebar-brand-text mx-3">統計業務系統</div> -->
                <img class="logo" th:src="@{/assets/img/logo.png}" alt="">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider sidebar-divider-header">

            <!-- Heading th:text="${task.key}"-->
            <th:block th:each="parentTaskMaps,taskStat:${session.tasks}">
	            <div class="sidebar-heading"  >
	            	[[${parentTaskMaps.key}]]
	           	 </div>
					<!-- Nav Item - Charts -->
					<!--active 為當前頁面class-->
		           
		           <th:block th:if="${taskId!=null}" th:each="parentTask,parentTaskMapStat:${parentTaskMaps.value}">
		           <li class="nav-item" th:classappend="${parentTask.id == taskId || parentTask.id == taskId.substring(0,3) ? 'active' : ''}">
		               <a class="nav-link collapsed" th:href="${parentTask.url == null ? '#': parentTask.url}" th:data-toggle="${parentTask.childTaskMap != null ? 'collapse':''}" th:data-target="${'#collapse'+parentTask.id}" aria-expanded="false" th:aria-controls="${'collapse'+parentTask.id}">
		                   <i class="fas" th:classappend="${parentTask.images}"></i>
		                   <span>[[${parentTask.name}]]</span>
		               </a>
		               <div th:if="${parentTask.childTaskMap != null}"  th:id="${'collapse'+parentTask.id}" class="collapse" th:classappend="${parentTask.id == taskId.substring(0,3) ? 'show' : ''}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
		                   <div class="bg-white py-2 collapse-inner rounded" >
		                    <th:block th:each="childTaskMaps:${parentTask.childTaskMap}">
		                       <h6 class="collapse-header">[[${childTaskMaps.key}]] :</h6>
		                       <a th:id="${childTask.id}" th:each="childTask:${childTaskMaps.value}" class="collapse-item" th:classappend="${childTask.id == taskId ? 'active' : ''}" th:href="${childTask.url}">[[${childTask.name}]]</a>
	                       </th:block>
		                   </div>
		               </div>
		               </li>
		               </th:block>
		           
	                <hr class="sidebar-divider" th:if="${!taskStat.last}">
           
			</th:block>
            
        </ul>
        <javascript>
<!--         function onclick(){ -->
<!--         [[${childTask.id}]] -->
<!--         $(.collapse-item).addclass("active") -->
<!--         } -->
        </javascript>
</html>