<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/common/head :: head"></head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:include="views/common/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:include="views/common/navbar :: navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">停刊表單</h1>
                    </div>

                    <div class="formWizard">
                        <ul class="nav" th:classappend="${processList.size > 2 ? 'nav25' : ''}">
                            <li class="active">
                                <a href="#">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <p>
                                	經辦
                                </p>
                            </li>
                            <li th:each="process,num:${processList}" th:classappend="${sheet.step >= num.count} ? 'active' : ''">
                                <div class="nav-wedge"></div>
                                <i class="fas fa-user-check"></i>
                                <p>
                                	[[${process}]]
                                </p>
                            </li>
                        </ul>
                    </div>

                        <div class="row">
                            <div class="col-lg-12 mb-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <div class="navbar">
                                            <h6 class="m-0 font-weight-bold" th:text="${typeMap.get(sheet.type) + '停刊'}"></h6>

                                            <a href="#" class="btn btn-download btn-icon-split" onclick="preview();">
                                                <span class="text">預覽</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row ml-0 mr-0">
                                            <div class="col-lg-12 card-table">
                                                <p>
                                                	申請人： <span>[[${sheet.applicant}]]</span>
                                                </p>
                                                <p>
                                                   	申請時間： <span>[[${#dates.format(sheet.createTime, 'YYYY/MM/dd HH:mm:ss')}]]</span> ｜ 申請單位：<span>[[${sheet.applicantUnit}]]</span>
                                                </p>
                                                <p>
                                                	刊登時間： <span>[[${#dates.format(sheet.onTime, 'YYYY/MM/dd HH:mm:ss')}]] ～ [[${#dates.format(sheet.offTime, 'YYYY/MM/dd HH:mm:ss')}]]</span>
                                                </p>
                                                <p>
                                                   	 版面： <span>[[${typeMap.get(sheet.type)}]]</span>
                                                </p>
                                                <p>
                                                   	 標題： <span>[[${sheet.title}]]</span>
                                                </p>
                                                <p class="announcement">
                                                	公告內容：
                                                </p>
                                                    <ul>
                                                        <li th:if="${sheet.image != null}">
                                                        	・PC圖檔 <a th:href="@{${sheet.image}}">[[${sheet.imageName}]]</a>
                                                        </li>
                                                        <li th:if="${sheet.imageMobile != null}">
                                                        	・Mobile圖檔 <a th:href="@{${sheet.imageMobile}}">[[${sheet.imageMobileName}]]</a>
                                                        </li>
                                                        <li th:if="${sheet.imageUrl != null}">
                                                        	・圖檔連結 <a th:href="@{${sheet.imageUrl}}">[[${sheet.imageUrl}]]</a>
                                                        </li>
                                                        <li th:if="${sheet.file != null}">
                                                        	 ・附檔 <a th:href="@{${sheet.file}}">[[${sheet.fileName}]]</a>
                                                        </li>
                                                    </ul>
                                                   	<div th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(sheet.content),'\n','&lt;br/&gt;'))}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 mb-4">

                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <div class="navbar">
                                            <h6 class="m-0 font-weight-bold">停刊表單</h6>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                    <form id="sForm" enctype="multipart/form-data" method="post" th:object="${cancelSheetCheckForm}">
                                	<input type="hidden" th:field="*{scsbSheetId}">
                                    <input type="hidden" th:field="*{check}">
                                    <input type="hidden" th:field="*{nextApprover}">
                            		<input type="hidden" th:field="*{agent}">
                                        <div class="row ml-0 mr-0">
                                        	<div class="col-lg-12 card-table">
                                            <p>
                                               	停刊申請人： <span th:text="${applicantName}"></span>
                                            </p>
                                        </div>
                                            <div class="col-lg-12 card-table">
                                                <div class="form-group">
                                                    <label for="imgurl">停刊原因</label>
                                                    <input type="text" class="form-control" id="imgurl" th:value="${sheet.archiveReason}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4" th:if="${!finalStepFilter}">
                                                <label for="">您的下一層簽核人員</label>
                                                <select class="form-control chosen-select" tabindex="2" data-placeholder="Choose..." required="required" th:field="*{nextApproverId}">
                                                	<option value="">請選擇</option>
                                                    <option th:each="approver:${approverList}" th:value="${approver.cn}" th:text="${approver.givenName}" th:selected="${approver.cn} == *{nextApproverId}"></option>
                                                </select>
                                                <div class="invalidColor" th:if="${#fields.hasErrors('nextApprover')}" th:errors="*{nextApprover}"></div>
                                            </div>
                                            <div class="col-md-4" th:if="${!finalStepFilter}">
                                                <label for="">您的下一層簽核人員之代理人</label>
                                                <select class="form-control chosen-select" tabindex="2" data-placeholder="Choose..." th:field="*{agentId}">
                                                	<option value="">請選擇</option>
                                                    <option th:each="approver:${approverList}" th:value="${approver.cn}" th:text="${approver.givenName}" th:selected="${approver.cn} == *{agentId}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>   
                                    </div>
                                </div>
    
                            </div>
    

                        </div>

                        <div class="btnNext">
                            <button type="button" class="btn btn-previous" onclick="history.back()">回前一頁</button>
                            <button type="button" class="btn btn-return" onclick="refuse()">退回</button>
                            <button type="button" class="btn btn-next" onclick="pass()">核准</button>
                            <!-- <a href="#" class="btn btn-previous">
                                <span class="">回前一頁</span>
                            </a>
                            <a href="#" class="btn btn-return">
                                <span class="">退回</span>
                            </a>
                            <a href="#" class="btn btn-next">
                                <span class="">核准</span>
                            </a> -->
                        </div>

                </div>

            </div>

        </div>

    </div>
</body>
<footer th:include="views/common/footer :: footer"></footer>
<script>
$('#nextApproverId').change(function(){
	var nextApprover = $("#nextApproverId").find('option:selected').text();
	
	if (nextApprover != "請選擇"){
		$('#nextApprover').val(nextApprover);		
	}
	else{
		$('#nextApprover').val("");
	}
});

$('#agentId').change(function(){
	var agent = $("#agentId").find('option:selected').text();
	
	if (agent != "請選擇"){
		$('#agent').val(agent);		
	}
	else{
		$('#agent').val("");
	}
});

function pass(){
	$('#check').val('1');
	
	document.forms['sForm'].target = '_self';
	document.forms['sForm'].action = 'save';
	popComfirm('sForm','確認核准','確認核准?','核准');
// 	document.forms['sForm'].submit();
}

function refuse(){
	$('#check').val('2');
	
	document.forms['sForm'].target = '_self';
	document.forms['sForm'].action = 'save';
	popComfirm('sForm','確認退回','確認退回?','退回');
// 	document.forms['sForm'].submit();
}	

function preview() {
    document.forms['sForm'].target = '_blank';
    document.forms['sForm'].action = '/scsb-springboot-0.0.3/previewImgUrl';
    document.forms['sForm'].submit();
}
</script>
</html>