<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/common/head :: head"></head>


<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:include="views/common/sidebar :: sidebar"
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav th:include="views/common/navbar :: navbar"
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0">表單紀錄</h1>
					</div>
					<div class="formWizard">
						<ul class="nav" th:classappend="${processList.size > 2 ? 'nav25' : ''}">
							<li th:classappend="${processCount >= 0 ? 'active':''}">
								<i class="fas fa-edit"></i>
								<p>經辦</p>
							</li>
							<th:block th:each="proccess,p:${processList}">
								<li
									th:classappend="${processCount>=p.count ? 'active':''}">


									<i class="fas fa-user-check"></i>
									<p>[[${proccess}]]</p>
								</li>
							</th:block>
						</ul>
					</div>

					<div class="row">

						<div class="col-lg-12 mb-4">
							<div class="card shadow mb-4">
								<div class="card-header">
									<div class="navbar">
										<h6 class="m-0 font-weight-bold">
											[[${type.get(sheet.type)}]] 
											<span th:classappend="${sheet.status.equals('0')||sheet.status.equals('4') ? 'processing': sheet.status.equals('1') ? 'passed': sheet.status.equals('2') || sheet.status.equals('3') ? 'returned':''}">（[[${status.get(sheet.status)}]]）</span>
										</h6>
										<form id="pForm" enctype="multipart/form-data" method="post"
											th:object="${personalAdForm}">
											<input type="hidden" name="scsbSheetId" th:value="${sheet.id}">
										</form>
										<a href="#" class="btn btn-download btn-icon-split"
											onclick="preview()"> <span class="text">預覽</span>
										</a>
									</div>
								</div>
								<div class="card-body">
									<div class="row ml-0 mr-0">
										<div class="col-lg-12 card-table">
											<p>
												申請人： <span>[[${type.get(sheet.creator)}]]</span>
											</p>
											<p>
												申請時間： <span>[[${#dates.format(sheet.createTime,'YYYY/MM/dd
													HH:mm')}]]</span> ｜ 申請單位：<span>[[${sheet.applicantUnit}]]</span>
											</p>
											<p>
												刊登時間： <span>[[${#dates.format(sheet.onTime,'YYYY/MM/dd
													HH:mm:ss')}]] ～[[${#dates.format(sheet.offTime, 'YYYY/MM/dd
													HH:mm:ss')}]]</span>
											</p>
											<p>
												版面： <span>[[${type.get(sheet.type)}]]</span>
											</p>
											<p>
												標題： <span>[[${sheet.title}]]</span>
											</p>
											<p class="announcement">公告內容：
											<ul>
												<li th:if="${sheet.image != null}">・PC圖檔 <a
													th:href="@{${sheet.image}}">[[${sheet.imageName}]]</a>
												</li>
												<li th:if="${sheet.image != null}">・Mobile圖檔 <a
													th:href="@{${sheet.imageMobile}}">[[${sheet.imageMobileName}]]</a>
												</li>
												<li th:if="${sheet.imageUrl != null}">・圖檔連結 <a
													th:href="@{${sheet.imageUrl}}">[[${sheet.imageUrl}]]</a>
												</li>
												<li th:if="${sheet.file != null}">・附檔 <a
													th:href="@{${sheet.file}}">[[${sheet.file}]]</a>
												</li>
											</ul>
											[[${sheet.content}]]
											</p>

										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="col-lg-12 mb-4">

							<div class="card shadow mb-4">
								<div class="card-header">
									<div class="navbar">
										<h6 class="m-0 font-weight-bold">簽核意見</h6>
									</div>
								</div>
								<div class="card-body">
									<div class="row ml-0 mr-0">
										<th:block th:each="approval:${approvalList}">
											<div class="col-lg-12 card-table">
												<p>
													[[${approval.status.equals('0')? "申請人" : "簽核人"}]]： <span th:text="${approval.approver}">陳亨利</span>
												</p>
												<p>
													[[${approval.status.equals('0')? "申請時間" : "簽核時間"}]]： <span th:text="${#dates.format(approval.createTime, 'YYYY/MM/dd HH:mm')}">2021/03/11
														07:26</span>
												</p>
												<p th:if="${!approval.status.equals('0')}">
													簽核意見附檔： <a th:href="${approval.file}"
														th:text="${approval.file}">文字修正示意圖</a>
												</p>
												<p th:if="${!approval.status.equals('0')}">
													簽核意見： <br> <span th:text="${approval.content}">文字部分修正，將
														3 月份最新表格更新，如示意圖</span>
												</p>
												<hr th:classappend="${approval.status.equals('0')? 'hr-open' :approval.status.equals('1') ? 'hr-passed': approval.status.equals('2')? 'hr-returned':''}">
											</div>
										</th:block>
										
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-12 mb-4" th:if="${cancelList != null && cancelList.size > 0}">

							<div class="card shadow mb-4">
								<div class="card-header">
									<div class="navbar">
										<h6 class="m-0 font-weight-bold">停刊簽核</h6>
									</div>
								</div>
								<div class="card-body">
									<th:block th:each="cancel:${cancelList}">
									<div class="row ml-0 mr-0">
										<div class="col-lg-12 card-table">
											<p>
												[[${cancel.status.equals('0') || cancel.status.equals('3')? "停刊申請人" : "簽核人"}]]： <span th:text="${cancel.approver}">陳亨利</span>
											</p>
											<p th:if="${cancel.status.equals('0') || cancel.status.equals('3')}">
												停刊原因： <span th:text="${sheet.archiveReason}">文案有誤</span>
											</p>
											<p th:if="${!cancel.status.equals('0') && !cancel.status.equals('3')}">
												簽核時間： <span th:text="${#dates.format(cancel.createTime, 'YYYY/MM/dd HH:mm')}">2021/03/11 07:26</span>
											</p>
											<hr th:classappend="${cancel.status.equals('0') ? 'hr-open' : cancel.status.equals('1') || cancel.status.equals('3') ? 'hr-passed': cancel.status.equals('2')? 'hr-returned':''}">
										</div>
									</div>
									</th:block>
								</div>
							</div>

						</div>
						<th:block th:if="${sheet.status.equals('1')}">
						
							
							<div class="col-lg-12 mb-4">
							<form id="sForm" method="post" th:object="${closeSheetForm}">
								<input type="hidden" name="scsbSheetId" th:value="${sheet.id}">
								<div class="card shadow mb-4">
									<div class="card-header">
										<div class="navbar">
											<h6 class="m-0 font-weight-bold">停刊表單</h6>
										</div>
									</div>
									<div class="card-body">
										<div class="row ml-0 mr-0">
											<div class="col-lg-12 card-table">
												<div class="form-group">
													<label for="imgurl">更動原因 
<!-- 													<span style="color: #B82B22;">註：（文字待確認）</span> -->
													</label> 
													<input type="text" class="form-control" id="imgurl" placeholder=""  th:field="*{archiveReason}">
												</div>
												<div class="btnNext">
													<a href="#" class="btn btn-return" onclick="submit()"> <span class="">停刊表單</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							</div>
						</th:block>
					</div>

					<div class="btnNext">
						<a href="list" class="btn btn-previous"> <span class="">回前一頁</span>
						</a>
					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- chosen -->
	<script src="js/chosen.jquery.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	<script src="js/style.js"></script>

</body>
<footer th:include="views/common/footer :: footer"></footer>

<script>
	function preview() {
		document.forms['pForm'].target = '_blank';
		document.forms['pForm'].action = '/scsb-springboot-0.0.3/previewImgUrl';
		document.forms['pForm'].submit();
	}
	
	function submit(){
		document.forms['sForm'].target = '_self';
		document.forms['sForm'].action = 'cancelSave';
		document.forms['sForm'].submit();
	}
</script>

</html>