<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Preview-individual-banner-個金輪播</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/preview.css}">
</head>
<body>
    <div class="main">
        <div class="header">
            <img th:src="@{/assets/img/Preview-individual-banner-header.png}" alt="">
        </div>

        <div class="banner">
            <img th:src="${image}" alt="">
        </div>

        <div class="footer">
            <img th:src="@{/assets/img/curve.png}" alt="">
            <img th:src="@{/assets/img/body.png}" alt="">
        </div>
    </div>
</body>
</html>