<!--[if IE ]><![endif]-->
<!doctype html>
<!--[if IE 8 ]> <html class="no-js lt-ie9 ie8" lang="zh-TW"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js lt-ie10 ie9" lang="zh-TW"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="zh-TW">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- <meta http-equiv="X-UA-Compatible"content="IE=EmulateIE11"> -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="title" content="上海商業儲蓄銀行｜處處為您著想">
    <meta name="description" content="上海商業儲蓄銀行，秉持「處處為您著想」的服務理念，提供最親切、便捷的多元金融服務，包含企業金融、個人金融、台外幣存匯、財富管理、信用卡等多項服務。">
    <meta name="Keywords" content="存款業務、放款業務、外匯業務、信託業務、國際金融服務及諮詢、應收帳款承購業務、外匯保證金交易、短期票劵、保管箱、代理業務、網路金流服務、代理基金銷售">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.scsb.com.tw/content/dep/index.jsp">
    <meta property="og:image" content="https://www.scsb.com.tw/newscsbweb/content/images/card_img/share/FB.jpg">
    <meta property="og:description" content="上海商業儲蓄銀行，秉持「處處為您著想」的服務理念，提供最親切、便捷的多元金融服務，包含企業金融、個人金融、台外幣存匯、財富管理、信用卡等多項服務。">
    <meta property="og:title" content="上海商業儲蓄銀行｜處處為您著想">
    <title>上海商業儲蓄銀行</title>
    <link rel="image_src" href="https://www.scsb.com.tw/newscsbweb/content/images/card_img/share/FB.jpg">
    <link href="favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="/newscsbweb/styles/all.css">

    

    
</head>
<body id="activeCont" data-nav-active-04>
    

    <!--========== HEADER ==============-->
    <header class="header fixed-top">
        <button class="js-toggle-left-slidebar hamburger d-block d-lg-none" type="button"></button>
        <div class="header-wrap" include-html="/newscsbweb/common/template_header.html"></div>
    </header>
    <!--========== END Header ==========-->

    <!--========== Loading =============-->
    <div class="overlayMask open">
        <div class="loader">
            <!-- 如果要顯示無進度條的豆豆，把這段取消註解 -->
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <!-- 如果要顯示無進度條的豆豆，把這段取消註解 -->
        </div>
    </div>
    <!--========== END Loading =========-->

    <!--========== Content =============-->
    <div canvas="container">
        <div class="mainWrap">
            <!-- KV -->
            <div class="container-fluid px-0 kvWrap">
                <div class="swiper-container" id="kv-slide">
                    <div class="swiper-wrapper">
                		<th:block th:if="${bannerList.empty}">
                        <div class="swiper-slide itemblk">
                            <a href="card02_a.jsp" class="kv-link" title="精采多樣的信用卡">&nbsp;</a>
                            <picture>
                                <source srcset="/newscsbweb/images/share/kv-mask-1024.png" media="(max-width: 767.9px)">
                                <source srcset="/newscsbweb/images/share/kv-mask-1280.png" media="(min-width: 960px) and (max-width: 1359.9px)">
                                <img th:src="@{/images/share/kv-mask-1920.png}" alt="精采多樣的信用卡" class="imgMask"></picture>
                            <div class="kv-img d-block d-lg-none" style="background-image:url(/newscsbweb/images/card_img/home/kv-01-768.jpg)" title="Mobile圖片"></div>
                            <div class="kv-img d-none d-md-block" style="background-image:url(/newscsbweb/images/card_img/home/kv-01-1920_0.jpg)" title="table、pc圖片"></div>
                        </div>
                    	</th:block>
	                    <th:block th:unless="${bannerList.empty}">
	                    	<div class="swiper-slide itemblk" th:each="banner:${bannerList}">
	                            <a th:href="@{${banner.imageUrl}}" class="kv-link" th:title="${banner.title}">&nbsp;</a>
	                            <picture>
	                                <source srcset="/newscsbweb/images/share/kv-mask-1024.png" media="(max-width: 767.9px)">
	                                <source srcset="/newscsbweb/images/share/kv-mask-1280.png" media="(min-width: 960px) and (max-width: 1359.9px)">
	                                <img src="/newscsbweb/images/share/kv-mask-1920.png" alt="精采多樣的信用卡" class="imgMask">
	                            </picture>
	                            <div class="kv-img d-none d-md-block" th:style="'background-image:url(' + @{${banner.image}} +')'" title="table、pc圖片"></div>
								<div class="kv-img d-block d-lg-none" th:style="'background-image:url(' + @{${banner.imageMobile}} +')'" title="Mobile圖片"></div>
	                        </div>
	                    </th:block>
                    </div>
                    
                    <!-- Add Arrows -->
                    <div class="arroWrap r-bottom">
                        <div class="arrPanel fixed-1200">
                            <div class="panel-item d-none d-lg-block">
                                <div class="swiper-button-prev" id="data-activity-kv-prev"></div>
                            </div>
                            <div class="panel-item swiper-pagination counter"></div>
                            <div class="panel-item d-none d-lg-block">
                                <div class="swiper-button-next" id="data-activity-kv-next"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Wave Mask -->
                    <div class="waveAnimate">
                        <div class="ocean">
                            <div class="wave"></div>
                            <div class="wave"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End KV -->

            <!-- Hot Key -->
            <div class="container-fluid hotkeyWrap">
                <div class="middleWrap fixed-1200">
                    <div class="heading h3">大家都在用</div>
                    <div class="row hotLister">
                        <div class="col-4 col-lg"><a href="https://apply.scsb.com.tw/card/credit_card/contact" class="hotList-link" target="_blank" title="開新視窗-信用卡線上申請" ><img on-image-load th:src="@{/images/card_img/home/icons-red-card-apply.svg}" class="img-fluid" alt="信用卡線上申請">信用卡線上申請</a></div>
                        <div class="col-4 col-lg"><a href="https://ibank.scsb.com.tw/share/OnlineCardOpen/begin.do#" class="hotList-link" target="_blank" title="開新視窗-線上開卡" ><img on-image-load th:src="@{/images/card_img/home/icons-red-card-open.svg}" class="img-fluid" alt="線上開卡">線上開卡</a></div>
                        <div class="col-4 col-lg"><a href="/newscsbweb/card/card02_h.html" class="hotList-link" title="額度調升" ><img on-image-load th:src="@{/images/card_img/home/icons-red-card-up.svg}" class="img-fluid" alt="額度調升">額度調升</a></div>
                        <div class="col-4 col-lg"><a href="https://ibank.scsb.com.tw/PROMOTIONS/cardlogin/begin.do" class="hotList-link" target="_blank" title="開新視窗-活動登錄"><img on-image-load th:src="@{/images/card_img/home/icons-red-card-promotion.svg}" class="img-fluid" alt="活動登錄">活動登錄</a></div>
                        <div class="col-4 col-lg"><a href="/newscsbweb/card/card012_Download01.html" class="hotList-link" title="各項申請/表單下載"><img on-image-load th:src="@{/images/card_img/home/icons-red-download.svg}" class="img-fluid" alt="各項申請/表單下載">各項申請/表單下載</a></div>
                        <div class="col-4 col-lg"><a href="/newscsbweb/card/card13_a_01.html" class="hotList-link" title="繳款方式"><img on-image-load th:src="@{/images/card_img/home/icons-red-card-payment.svg}" class="img-fluid" alt="繳款方式">繳款方式</a></div>
                    </div>
                    <div class="btnBlkWrap text-center"><a href="card16_b.jsp" title="看更多服務">看更多服務<span class="icon icon-arrow_forward arr"></span></a></div>
                </div>
            </div>
            <!-- End Hot Key -->

            <!-- Hot Service -->
            <div class="container-fluid serviceWrap bg-light">
                <div class="personal-service fixed-1200">
                    <div class="swiper-container" id="servicelist-per-slide">
                        <div class="heading h3">推薦卡別</div>
                        <!-- Add Arrows -->
                        <div class="arroWrap r-top">
                            <div class="arrPanel fixed-1200">
                                <div class="panel-item d-none d-lg-block">
                                    <div class="swiper-button-prev" id="data-personal-prev"></div>
                                </div>
                                <div class="panel-item swiper-pagination counter"></div>
                                <div class="panel-item d-none d-lg-block">
                                    <div class="swiper-button-next" id="data-personal-next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-1@3x.jpg" class="card-img-top" alt="小小兵信用卡"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">小小兵信用卡</h4>
                                        <p class="card-text">超萌卡面超高回饋，療癒你的心</p>
                                        <a href="/newscsbweb/card/card03_i1.html" class="stretched-link" title="小小兵信用卡" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-2@3x.jpg" class="card-img-top" alt="簡單卡"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">簡單卡</h4>
                                        <p class="card-text">回饋最無腦，次期回饋無上限也無下限</p>
                                        <a href="/newscsbweb/card/card03_h1.html" class="stretched-link" title="簡單卡" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-3@3x.jpg" class="card-img-top" alt="牙醫師卡"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">牙醫師卡</h4>
                                        <p class="card-text">專屬醫療責任險，給您更多保障</p>
                                        <a href="/newscsbweb/card/card03_c4.html" class="stretched-link" title="牙醫師卡" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-4@3x.jpg" class="card-img-top" alt="Teresa Card"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">Teresa Card</h4>
                                        <p class="card-text">讓生活更優雅‧Smart‧健康</p>
                                        <a href="/newscsbweb/card/card03_g1.html" class="stretched-link" title="Teresa Card" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-5.png" class="card-img-top" alt="世界卡"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">世界卡</h4>
                                        <p class="card-text">點綴您的精采生活，盡享無上尊榮禮遇</p>
                                        <a href="/newscsbweb/card/card03_e.html" class="stretched-link" title="Teresa Card" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide cardItem">
                                <div class="card">
                                    <div class="card-img"><img on-image-load src="/newscsbweb/images/card_img/home/photo-creditcard-6.png" class="card-img-top" alt="DebitCard"></div>
                                    <div class="card-body">
                                        <h4 class="card-title">DebitCard</h4>
                                        <p class="card-text">讓您轉帳‧消費，一卡樂悠遊</p>
                                        <a href="/newscsbweb/card/card03_f1.html" class="stretched-link" title="Teresa Card" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btnBlkWrap text-center"><a href="/newscsbweb/card/card03_i1.html" title="看更多卡片">看更多卡片<span class="icon icon-arrow_forward arr"></span></a></div>
            </div>

            <div class="container-fluid serviceWrap">
                <div class="hotevent-service fixed-1200">
                    <div class="swiper-container" id="servicelist-hotevent-slide">
                        <div class="heading h3">熱門活動</div>
                        <!-- Add Arrows -->
                        <div class="arroWrap r-top">
                            <div class="arrPanel fixed-1200">
                                <div class="panel-item d-none d-lg-block">
                                    <div class="swiper-button-prev" id="data-hoteven-prev"></div>
                                </div>
                                <div class="panel-item swiper-pagination counter"></div>
                                <div class="panel-item d-none d-lg-block">
                                    <div class="swiper-button-next" id="data-hoteven-next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-wrapper discount_wrap">
                        	<th:block th:if="${hotsList.empty}">
                        	<div style="display: flex; justify-content: center;align-items: center; width:100%">查無資料</div>
<!--                             <div class="swiper-slide cardItem"> -->
<!--                                 <div class="card"> -->
<!--                                     <div class="distag bonus">紅利點數</div> -->
<!--                                     <img on-image-load }" alt="/newscsbweb/images/card_img/home/16-9@3x.jpg" class="card-img-top" alt="安心看電影，刷上海銀行卡線上訂票即享免排隊先選位"> -->
<!--                                     <div class="card-body"> -->
<!--                                         <div class="date">2021/01/01~2021/12/31</div> -->
<!--                                         <h4 class="card-title">安心看電影，刷上海銀行卡線上訂票即享免排隊先選位</h4> -->
<!--                                         <p class="card-text">入場前量體溫和雙手消毒安心看電影～刷上海銀行卡...</p> -->
<!--                                         <span class="more">了解詳情</span> -->
<!--                                         <a href="dig08_a.jsp" class="stretched-link" title="安心看電影，刷上海銀行卡線上訂票即享免排隊先選位">&nbsp;</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                             <div class="swiper-slide cardItem"> -->
<!--                                 <div class="card"> -->
<!--                                     <div class="distag travel">旅遊活動</div> -->
<!--                                     <img on-image-load src="/newscsbweb/images/card_img/home/16-10@3x.jpg" class="card-img-top" alt="搭高鐵升等商務車廂"> -->
<!--                                     <div class="card-body"> -->
<!--                                         <div class="date">2021/01/01~2021/12/31</div> -->
<!--                                         <h4 class="card-title">搭高鐵升等商務車廂</h4> -->
<!--                                         <p class="card-text">上海銀行世界卡卡友最高免費升等3張，全卡友免消費...</p> -->
<!--                                         <span class="more">了解詳情</span> -->
<!--                                         <a href="dig18_a.jsp" class="stretched-link" title="搭高鐵升等商務車廂">&nbsp;</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                             <div class="swiper-slide cardItem"> -->
<!--                                 <div class="card"> -->
<!--                                     <div class="distag bonus">紅利點數</div> -->
<!--                                     <img on-image-load src="/newscsbweb/images/card_img/home/16-11@3x.jpg" class="card-img-top" alt="東森購物就刷上海銀行信用卡"> -->
<!--                                     <div class="card-body"> -->
<!--                                         <div class="date">2021/01/01~2021/01/31</div> -->
<!--                                         <h4 class="card-title">東森購物就刷上海銀行信用卡</h4> -->
<!--                                         <p class="card-text">分期滿額登錄活動最高享8%現金回饋</p> -->
<!--                                         <span class="more">了解詳情</span> -->
<!--                                         <a href="dig19_a.jsp" class="stretched-link" title="東森購物就刷上海銀行信用卡">&nbsp;</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                             <div class="swiper-slide cardItem"> -->
<!--                                 <div class="card"> -->
<!--                                     <div class="distag travel">旅遊活動</div> -->
<!--                                     <img on-image-load src="/newscsbweb/images/card_img/home/16-11@3x.jpg" class="card-img-top" alt="東森購物就刷上海銀行信用卡"> -->
<!--                                     <div class="card-body"> -->
<!--                                         <div class="date">2021/01/01~2021/01/31</div> -->
<!--                                         <h4 class="card-title">東森購物就刷上海銀行信用卡</h4> -->
<!--                                         <p class="card-text">分期滿額登錄活動最高享8%現金回饋</p> -->
<!--                                         <span class="more">了解詳情</span> -->
<!--                                         <a href="dig19_a.jsp" class="stretched-link" title="東森購物就刷上海銀行信用卡">&nbsp;</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                             </div> -->
                            </th:block>
                            <th:block th:unless="${hotsList.empty}">
                            <div class="swiper-slide cardItem" th:each="hot : ${hotsList}">
                                <div class="card">
                                    <div th:class="'distag ' + ${hot.category}" th:text="${hot.categoryName}">旅遊活動</div>
                                    <img on-image-load th:src="@{${hot.image}}" class="card-img-top" th:alt="${hot.title}">
                                    <div class="card-body">
                                        <div class="date" th:text="${#dates.format(hot.onTime, 'yyyy/MM/dd')} + '~' + ${#dates.format(hot.offTime, 'yyyy/MM/dd')}">2021/01/01~2021/01/31</div>
                                        <h4 class="card-title" th:text="${hot.title}">東森購物就刷上海銀行信用卡</h4>
                                        <p class="card-text" th:text="${#strings.abbreviate(hot.content, 26)}">分期滿額登錄活動最高享8%現金回饋</p>
                                        <span class="more">了解詳情</span>
                                        <a th:href="|@{/card/hotPage/}${hot.id}|" class="stretched-link" th:title="${hot.title}" onclick="window.location.href = this.href">&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Hot Service -->

            <!-- Event -->
            <div class="container-fluid eventWrap bg-light">
                <div class="middleWrap fixed-1200">
                    <div class="heading h3">最新訊息</div>
                    <div class="row align-items-center event-box">
                        <div class="col-12 col-lg-6 col-xl-5 px-0 px-lg-2 px-xl-4">

                            <div class="swiper-container" id="event-slide">
                                <div class="arroWrap r-top pt-3 pr-0 pr-lg-3 pr-xl-4">
                                    <div class="arrPanel fixed-1200">
                                        <div class="panel-item d-none d-lg-block">
                                            <div class="swiper-button-prev" id="data-event-prev"></div>
                                        </div>
                                        <div class="panel-item swiper-pagination counter"></div>
                                        <div class="panel-item d-none d-lg-block">
                                            <div class="swiper-button-next" id="data-event-next"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-wrapper event-slideBlk">
                                	<th:block th:if="${adList.empty}">
                                    <div class="swiper-slide eventItem">
                                        <div class="card">
                                            <img on-image-load src="/newscsbweb/images/card_img/news/news_01.jpg" alt="刷上海銀行Visa卡，享漢堡王指定套餐65折優惠" class="img-fluid w-100">
                                            <a href="https://www.scsb.com.tw/" class="stretched-link" title="刷上海銀行Visa卡，享漢堡王指定套餐65折優惠"></a>
                                            <div class="card-overlay">
                                                <div class="date">2021/01/07</div>
                                                <div class="card-text bold">刷上海銀行Visa卡，享漢堡王指定套餐65折優惠</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide eventItem">
                                        <div class="card">
                                            <img on-image-load src="/newscsbweb/images/card_img/news/news_01.jpg" alt="刷上海銀行Visa卡，享漢堡王指定套餐65折優惠" class="img-fluid w-100">
                                            <a href="https://www.scsb.com.tw/" class="stretched-link" title="刷上海銀行Visa卡，享漢堡王指定套餐65折優惠"></a>
                                            <div class="card-overlay">
                                                <div class="date">2021/01/07</div>
                                                <div class="card-text bold">刷上海銀行Visa卡，享漢堡王指定套餐65折優惠</div>
                                            </div>
                                        </div>
                                    </div>
                                    </th:block>
                                    <th:block th:unless="${adList.empty}">
                                    <div th:each="ad : ${adList}" class="swiper-slide eventItem">
                                        <div class="card">
                                            <img on-image-load th:src="@{${ad.image}}" th:alt="${ad.title}" class="img-fluid w-100">
                                            <a th:href="${ad.imageUrl}" class="stretched-link" th:title="${ad.title}" onclick="window.location.href = this.href"></a>
                                            <div class="card-overlay">
                                                <div th:text="${#dates.format(ad.onTime, 'yyyy/MM/dd')}" class="date">2021/01/07</div>
                                                <div th:text="${ad.title}" class="card-text bold">刷上海銀行Visa卡，享漢堡王指定套餐65折優惠</div>
                                            </div>
                                        </div>
                                    </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-7 px-0 px-xl-3">
                        	<div class="event-lister">
                            	<th:block th:if="${!newsList.empty}">
                            		<!-- FIXME -->
	                                <a th:each="news:${newsList}" th:href="|@{/detailPage/}${news.id}|" class="item-link">
	                                	<span class="date" th:text="${#dates.format(news.onTime, 'YYYY/MM/dd')}">2020/06/30</span>[[${news.title}]]
	                                </a>
                                </th:block>
                                <th:block th:unless="${!newsList.empty}">
	                                <a href="https://www.scsb.com.tw/content/news/news_090316.jsp" class="item-link"><span class="date">2020/12/30</span>週六買菜日‧到頂好超市刷頂好卡x小小兵卡單筆NT$555回饋NT$55...</a>
	                                <a href="dig/dig27_a.jsp" class="item-link"><span class="date">2020/12/30</span>2021萬事達簡單卡全新上市‧不一樣的卡面一樣簡單享回饋...</a>
	                                <a href="dig/dig27_a.jsp" class="item-link"><span class="date">2020/12/29</span>【帶著小小兵去旅行】台灣好好玩，國內旅遊刷上海卡，登錄滿額送刷卡金...</a>
                                </th:block>
							</div>
                        </div>
                    </div>
                    <div class="btnBlkWrap text-center"><a href="news.jsp" class="btn btn-gdt-link">查看更多訊息</a></div>
                </div>
            </div>
            <!-- End Event -->
        </div>
        <!--========== 信用卡分期注意事項 ==========-->
        <div class="loanNotice" include-html="/newscsbweb/common/template_creditcard.html"></div>
        <!--========== Footer ==========-->
        <footer class="footer" include-html="/newscsbweb/common/template_footer.html"></footer>
        <!--========== END Footer ======-->
    </div>
    <!--========== END Content =========-->

    <!--========== Mobile Menu =========-->
<!--     <div off-canvas="slidebar-1 left overlay" class="sidemenuWrap" th:replace="fragments/template_mobile_menu.html :: sidebar"></div> -->
	<div off-canvas="slidebar-1 left overlay" class="sidemenuWrap" include-html="/newscsbweb/common/template_mobile_menu.html"></div>
    <!--========== END Mobile Menu =====-->

    <!--========== Scroll Top ==========-->
    <div class="js-back-to-top back-to-top" include-html="/newscsbweb/common/back-to-top.html"></div>
    <!--========== END Scroll Top ======-->

    <script src="/newscsbweb/scripts/jquery.min.js"></script>
    <script src="/newscsbweb/scripts/bootstrap.bundle.min.js"></script>
    <script src="/newscsbweb/scripts/bootstrap-toolkit.min.js"></script>
    <script src="/newscsbweb/scripts/jquery.matchHeight-min.js"></script>
    <script src="/newscsbweb/scripts/animate.js"></script>
    <script src="/newscsbweb/scripts/includeExternalHtml.js"></script>
    <script src="/newscsbweb/scripts/swiper.min.js"></script>
    <script src="/newscsbweb/scripts/slidebars.js"></script>
    <script src="/newscsbweb/scripts/loadingProgress.js"></script>
    <script src="/newscsbweb/scripts/picturefill.min.js"></script>
    <script src="/newscsbweb/scripts/jquery.back-to-top.js"></script>
    <script src="/newscsbweb/scripts/responsive-paginate.js"></script>
    <script src="/newscsbweb/scripts/main.js"></script>
    
</body>

</html>