<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SCSB-application-list</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand" th:href="@{SCSB-home-announce.html}">
                <!-- <div class="sidebar-brand-icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="sidebar-brand-text mx-3">統計業務系統</div> -->
                <img class="logo" th:src="@{/img/logo.png}" alt="">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider sidebar-divider-header">

            <!-- Heading -->
            <div class="sidebar-heading">
                提交表單
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-folder"></i>
                    <span>頁面</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">首頁：</h6>
                        <a class="collapse-item" th:href="@{SCSB-home-announce.html}">本行公告</a>
                        <a class="collapse-item" th:href="@{SCSB-home-news.html}">最新活動</a>
                        <a class="collapse-item" th:href="@{SCSB-home-banner.html}">廣告輪播</a>
                        <a class="collapse-item" th:href="@{SCSB-home-prize.html}">中獎名單</a>

                        <h6 class="collapse-header">企業金融：</h6>
                        <a class="collapse-item" href="#">廣告輪播</a>
                        <a class="collapse-item" th:href="@{SCSB-ad.html}">廣告</a>

                        <h6 class="collapse-header">個人金融：</h6>
                        <a class="collapse-item" href="#">廣告輪播</a>
                        <a class="collapse-item" href="#">廣告</a>

                        <h6 class="collapse-header">台外幣存匯：</h6>
                        <a class="collapse-item" href="#">廣告輪播</a>
                        <a class="collapse-item" href="#">廣告</a>

                        <h6 class="collapse-header">數位金融：</h6>
                        <a class="collapse-item" href="#">廣告輪播</a>
                        <a class="collapse-item" href="#">廣告</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                表單管理
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" th:href="@{SCSB-application-list.html}">
                    <i class="fas fa-clipboard-check"></i>
                    <span>待核表單</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{SCSB-application-history.html}">
                    <i class="fas fa-clipboard-list"></i>
                    <span>表單紀錄</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600">王家衛</span>
                                <i class="far fa-user-circle"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    登出
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">待核表單</h1>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 mb-4">

                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <div class="navbar">
                                        <h6 class="m-0 font-weight-bold">待核表單列表</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card-unit">
                                                <h4 class="h3 mb-0">快速簽核</h4>

                                                <div>
                                                    <span> 簽核意見</span>
                                                    <input type="text" placeholder="輸入您的簽核意見">
                                                    
                                                    <a href="#" class="btn btn-approved btn-icon-split">
                                                        <span class="icon">
                                                            <i class="fas fa-check-circle"></i>
                                                        </span>
                                                        <span class="text">批次核准</span>
                                                    </a>

                                                    <a href="#" class="btn btn-return btn-icon-split">
                                                        <span class="icon">
                                                            <i class="fas fa-ban"></i>
                                                        </span>
                                                        <span class="text">批次退回</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-12 card-table table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <td class="table-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="table-title">表單名稱</td>
                                                    <td class="table-summary">表單摘要</td>
                                                    <td>申請人</td>
                                                    <td>申請日期</td>
                                                    <td>查看</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="table-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="table-title">本行公告申請</td>
                                                    <td class="table-summary">標題：公告修正本行「進口、出口及匯兌各項業務之收費標準」及國際金融業務分行「各項業務費用收費標準」，並自110年05月10日起實施。 刊登時間：2021/03/21 07:00:00 ～ 2021/04/21 19:00:00</td>
                                                    <td>王家衛（A0001）</td>
                                                    <td>2021/03/10 07:26</td>
                                                    <td class="table-edit"><i class="fas fa-edit"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="table-title">最新活動申請</td>
                                                    <td class="table-summary">標題：Cloud bank 發春食記 送你Uber eats 加菜金 刊登時間：2021/03/21 07:00:00 ～ 2021/04/21 19:00:00</td>
                                                    <td>陳大衛（A0002）</td>
                                                    <td>2021/03/10 07:26</td>
                                                    <td class="table-edit"><i class="fas fa-edit"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="table-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="table-title">最新活動申請</td>
                                                    <td class="table-summary">標題：【請小心】釣魚詐騙手法，勿點擊來路不明的信件及簡訊連結進行登入！ 刊登時間：2021/03/21 07:00:00 ～ 2021/04/21 19:00:00</td>
                                                    <td>陳大衛（A0002）</td>
                                                    <td>2021/03/10 07:26</td>
                                                    <td class="table-edit"><i class="fas fa-edit"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <nav class="navbar navbar-pagination">
                                            <span>
                                                Showing 1 to 10 of 57 entries
                                            </span>
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">4</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">5</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">6</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    




                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="btnNext">
                        <a href="#" class="btn btn-return">
                            <span class="">預覽</span>
                        </a>
                        <a href="#" class="btn btn-next">
                            <span class="">送出表單</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/style.js"></script>

</body>

</html>