<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/common/head :: head"></head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:include="views/common/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:include="views/common/navbar :: navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">待核表單</h1>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 mb-4">

                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <div class="navbar">
                                        <h6 class="m-0 font-weight-bold">待核表單列表</h6>
                                    </div>
                                </div>
                                <div class="card-body">


                                    <div class="col-lg-12 card-table table-responsive">
                                        <table id="example" class="table table-bordered text-center display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <td class="table-title">表單名稱</td>
                                                    <td class="table-summary-cen">表單摘要</td>
                                                    <td>申請人</td>
                                                    <td>申請日期</td>
                                                    <td>查看</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="sheet:${sheetList}">
                                                    <td class="table-title" th:text="${typeMap.get(sheet.type) + '申請'}"></td>
                                                    <td class="table-summary">
                                                 			標題：[[${sheet.title}]] <br>
                                                        	刊登時間：[[${#dates.format(sheet.onTime, 'YYYY/MM/dd HH:mm:ss')}]] ～ [[${#dates.format(sheet.offTime, 'YYYY/MM/dd HH:mm:ss')}]]
                                                    </td>
                                                    <td>[[${sheet.applicant}]]（[[${sheet.applicantId}]]）</td>
                                                    <td>[[${#dates.format(sheet.createTime, 'YYYY/MM/dd HH:mm:ss')}]]</td>
                                                    <td class="table-edit"><a th:href="@{detail(scsbSheetId=${sheet.id})}"><i class="fas fa-edit"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    




                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
<footer th:include="views/common/footer :: footer"></footer>
<script>
    // datatables
    $(document).ready(function() {
        $('#example').DataTable({
            "pageLength": 10
        });
    });
</script>
</html>